---
import Layout from "../layouts/Layout.astro";
---
<div class=" text-gray-800 bg-gray-200 text-4xl text-center text-amber-50 py-16">
<h1>
	Bienvenidos a <span class="text-amber-300">SuitCats</span>
</h1>
<div/>
<section class="containter bg-gray min-h-screen py-3">
	
	<div class="grid grid-cols-5 grid-rows-5 gap-4 max-w-5xl mx-auto">
     <div class="col-span-4 row-span-3 bg-amber-200 aspect-video rounded-2xl overflow-hidden shadow-2xl">
		<img src="../public/images/elegant-cat.jpg" alt="principal cat" class="w-full h-full object-cover rounded-2xl">

	 </div>
     <a href="#footer" class="grid-item row-span-2 col-start-5 bg-white rounded-2xl text-3xl text-center text-gray-800 justify-center items-center h-full flex shadow-2xl">
		Nosotros
	 </a>
     <a href="#comida" class="grid-item row-span-2 col-start-5 row-start-3 bg-white rounded-2xl text-3xl text-center text-gray-800 justify-center items-center h-full flex">
		<img src="../public/images/eat-cat.jpg" alt="Comida" class="w-full h-full object-cover rounded-2xl">
	 </a>
     <a href="#juegos" class="grid-item col-span-2 row-start-4 bg-white rounded-2xl text-3xl text-center text-gray-800 justify-center items-center h-full flex shadow-2xl">
		Juguetes
	 </a>
     <a href="#descanso" class="grid-item col-span-2 col-start-3 row-start-4 bg-white rounded-2xl text-3xl text-center text-gray-800 justify-center items-center h-full flex shadow-2xl">
		Descanso
	 </a>
	</div>
    

</section>
